Dataset: Police Incident Blotter(Archive)

Our group selected health and safety as our metric to determine the best neighborhoods in Allegheny County. My submetric is reported Police Incidents per neighborhood in Allegheny County. This is crucial to define the safety of a given neighborhood because the greater number of Police Incidents in a neighborhood indicates that the neighborhood may have a higher crime rate. Due to this, a neighborhood with a lower count of toxic releases into water indicates that it is a safer neighborhood to occupy.

In this notebook, I will analyze the record of toxic water release in Allegheny county

Link to data set: https://data.wprdc.org/datastore/dump/044f2016-1dfd-4ab0-bc1e-065da05fca2e

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#import and print data
url= "https://data.wprdc.org/datastore/dump/044f2016-1dfd-4ab0-bc1e-065da05fca2e"
police= pd.read_csv(url)
police.head()

,_id,PK,CCR,HIERARCHY,INCIDENTTIME,INCIDENTLOCATION,CLEAREDFLAG,INCIDENTNEIGHBORHOOD,INCIDENTZONE,INCIDENTHIERARCHYDESC,OFFENSES,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
0,1,2802309,16000001.0,10,2016-01-01T00:00:00,"400 Block North Shore DR Pittsburgh, PA 15212",Y,North Shore,1,HARRASSMENT/THREAT/ATTEMPT/PHY,2702 Aggravated Assault. / 2709(a) Harassment....,2205.0,1.0,6.0,-80.012337,40.446263
1,2,2803174,16004547.0,11,2016-01-01T00:01:00,"5400 Block Carnegie ST Pittsburgh, PA 15201",N,Upper Lawrenceville,2,THEFT BY DECEPTION,3922 Theft by Deception.,1011.0,7.0,2.0,-79.950295,40.482290
2,3,2801809,16000367.0,4,2016-01-01T00:10:00,"500 Block Mt Pleasant RD Pittsburgh, PA 15214",N,Northview Heights,1,DISCHARGE OF FIREARM INTO OCC.STRUCTURE,2707.1 Discharge of a Firearm into Occupied St...,2609.0,1.0,1.0,-80.000966,40.478651
3,4,2802315,16000035.0,10,2016-01-01T00:15:00,"300 Block Wood ST Pittsburgh, PA 15222",Y,Golden Triangle/Civic Arena,2,HARRASSMENT/THREAT/ATTEMPT/PHY,2709(a)(3) Harassment No Legitimate Purpose,201.0,6.0,6.0,-80.001251,40.438918
4,5,2802312,16000024.0,4,2016-01-01T00:16:00,"500 Block Mt Pleasant RD Pittsburgh, PA 15214",N,Northview Heights,1,PROP MISSILE INTO OCC VEHICLE/OR ROADWAY,2705 Recklessy Endangering Another Person. / 3...,2609.0,1.0,1.0,-80.000966,40.478651

To make the data easier to analyze, I am removing the unnecessary columns from the data set for the data to be easier to navigate. I will do this by only leaving the hierarchy of the crime, which in the context of the data set is from 1-99, 99 being a minor crime and 1 being a major crime, as well as the neighborhood the crime was committed. I am also going to remove all of the rows in the column labeled 'CLEAREDLFAG' that contain 'N' because an 'N' means a case is opened, unresolved, or under investigation. In order to get the most accurate results I am only leaving  incidents marked 'Y' meaning that the case was cleared.

In [6]:
#remove unnecessary columns
police_col_remove=police.drop(columns=['_id', 'PK', 'CCR', 'INCIDENTTIME', 'INCIDENTLOCATION', 'INCIDENTZONE', 'INCIDENTHIERARCHYDESC', 'OFFENSES', 'INCIDENTTRACT', 'COUNCIL_DISTRICT', 'PUBLIC_WORKS_DIVISION', 'X', 'Y'],errors='ignore')
police_col_remove.head()
##remove all incidents that contain 'N' 
police= police[police['CLEAREDFLAG'] !='N']
police_col_remove.head()

   HIERARCHY CLEAREDFLAG         INCIDENTNEIGHBORHOOD
0         10           Y                  North Shore
1         11           N          Upper Lawrenceville
2          4           N            Northview Heights
3         10           Y  Golden Triangle/Civic Arena
4          4           N            Northview Heights

I am now going to sort the data in order to be able to indicate which neighborhoods have the greatest and lowest police incidents based on the heigheracy opf the crime (1-99)

Tables 1-2: Ranking the top 10 towns with the **highest** number of police incidents with a hierarchy of 1-49(Table 1). Then, ranking the top 10 towns with the **lowest** number of police incidents with a hierarchy of 1-49(Table 2)


Tables 3-4: Ranking the top 10 towns with the **highest** number of police incidents with a hierarchy of 50-99 (Table 3). Then, ranking the top 10 towns with the **lowest** number of police incidents with a hierarchy of 50-99 (Table 4)


I am creating tables using these two metrics to draw the most accurate conclusion about the best neighborhood. Just because a neighborhood may have a low amount of minor crimes, it may have a high amount of major crimes, which indicates that the neighborhood may be less safe due to more major crimes being committed in the neighborhood. To make a consensus about the safest neighborhoods in Pittsburgh, the neighborhood must be in the **top 10 neighborhoods with the lowest police incidents (1-99)** and also be in the table that includes the **top 10 neighborhoods with the lowest police incidents (50-99)**

In [25]:
import pandas as pd
# Group HERIARCHY into high or low 
def rank_hierarchy(x): 
    if 1<= x <=48:
        return 'High (1-49)'
    elif 50 <= x <=99:
        return 'Low (50-99)'
    else:
        return 'Other'
police['crime_level']=police ['HIERARCHY']. apply(rank_hierarchy)
#Remove other values
police= police[police['crime_level'] !='Other']
police_group=police.groupby(['INCIDENTNEIGHBORHOOD', 'crime_level']).size().reset_index(name='total_incidents')
# Group the crime levels
low_crime=police_group[police_group['crime_level'] == 'Low (1–49)']
high_crime = police_group[police_group['crime_level'] == 'High (50–99)']
# Create the 4 separate tables
table_one= ( low_crime.sort_values(by='total_incidents', ascending=False).head(10).reset_index(drop=True))
table_one.index+=1
table_one.index.name='top 10 towns with the highest number of police incidents with a hierarchy of 1-49'
table_two= ( low_crime.sort_values(by='total_incidents', ascending=True).head(10).reset_index(drop=True))
table_two.index+=1
table_two.index.name='top 10 towns with the lowest number of police incidents with a hierarchy of 1-49'
table_three= ( high_crime.sort_values(by='total_incidents', ascending=False).head(10).reset_index(drop=True))
table_three.index+=1
table_three.index.name='top 10 towns with the highest number of police incidents with a hierarchy of 50-99'
table_four= ( high_crime.sort_values(by='total_incidents', ascending=True).head(10).reset_index(drop=True))
table_four.index+=1
table_four.index.name='top 10 towns with the lowest number of police incidents with a hierarchy of 50-99'
# Print out the tables
print("top 10 towns with the highest number of police incidents with a hierarchy of 1-49")
display(table_one)
print("top 10 towns with the lowest number of police incidents with a hierarchy of 1-49")
display(table_two)
print("top 10 towns with the highest number of police incidents with a hierarchy of 50-99")
display(table_three)
print("top 10 towns with the lowest number of police incidents with a hierarchy of 50-99")
display(table_four)

top 10 towns with the highest number of police incidents with a hierarchy of 1-49

Empty DataFrame
Columns: [INCIDENTNEIGHBORHOOD, crime_level, total_incidents]
Index: []

top 10 towns with the lowest number of police incidents with a hierarchy of 1-49

Empty DataFrame
Columns: [INCIDENTNEIGHBORHOOD, crime_level, total_incidents]
Index: []

top 10 towns with the highest number of police incidents with a hierarchy of 50-99

Empty DataFrame
Columns: [INCIDENTNEIGHBORHOOD, crime_level, total_incidents]
Index: []

top 10 towns with the lowest number of police incidents with a hierarchy of 50-99

Empty DataFrame
Columns: [INCIDENTNEIGHBORHOOD, crime_level, total_incidents]
Index: []

Now I am going to make this data easier to visualize by creating 4 separate bar charts using the data.

Conclusion